# Ignore Python virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore environment files and logs
.env
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore database or cache files
*.sqlite3
